/* Reset some default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Apply basic styles to the entire page */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333;
}

/* Apply styles to the navigation area */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #555;
}

/* Apply styles to the About Me section */
#about {
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 2.5%;
}

.about-content {
  display: flex;
  padding: 2.5%;
  align-items: center;
}

.about-content img {
  width: 40%;
  height: 40%;
  /* Adjust the width of the image as needed */
  margin-right: 40px;
  margin-top: 40px;
  /* Add some spacing between the image and text */
  border-radius: 15px;
  box-shadow: -1rem -1rem green;
}

.about-content img:hover {
  transition-duration: 0.2s;
  box-shadow: -2rem -2rem green;
  transform: translateY(10px);
  transform: translateX(10px);
}

.text-content {
  flex-grow: 1;
}

/* Additional styles for the text content */
.text-content h1 {
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Courier New', monospace;
  color: rgb(0, 200, 0);
  font-weight: 300;
}

.text-content p {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Courier New', monospace;
  color: rgb(0, 200, 0);
  font-weight: 200;
}

/* Apply styles to the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#logo {
  margin-right: auto;
  margin-left: 20px;
  font-family: 'Courier New', monospace;
  background-color: transparent;
  padding: 10px 0;
  color: #0f0;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  /* Fixed width for the logo element */
  position: relative;
  /* Add position relative to create a reference for the cursor */
  cursor: pointer;
  font-size: 20px;
}

#name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

#name-section h2 {
  font-size: 60px;
  font-family: 'Courier New', monospace;
  padding: 10px 0;
  color: #0f0;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  font-weight: 300;
}

#name-section h2::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 35px;
  background-color: #0f0;
  position: relative;
  animation: blink-caret 1s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

#name-section h2 a {
  color: #0f0;
  text-decoration: none;
  font-size: 20px;
}

#name-section h3 {
  font-size: 20px;
  font-family: 'Courier New', monospace;
  padding: 10px 0;
  color: #0f0;
  font-weight: 100;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.social-links a {
  margin: 0 10px;
}

/* Adjust the size and color of the icons */
.social-links a i {
  font-size: 48px;
  color: #0f0;
  transition: color 0.5s ease;
}

.social-links a i:hover {
  color: #fff;
}

#middleButton {
  font-size: 20px;
  color: #0f0;
  font-family: 'Courier New', monospace;
  background-color: transparent;
  outline: green solid 1px;
  fill: green;
  border: 0px;
  cursor: pointer;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  transition-duration: 0.2s;
}

#middleButton:hover {
  color: white;
  background-color: green;
}

#projects {
  background-color: #000;
  text-align: center;
}

#projects h1 {
  padding-bottom: 100px;
  padding-top: 5%;
  color: #0f0;
  font-size: 40px;
  font-family: 'Courier New', monospace;
  font-weight: 300;
}

.project-item {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  color: #0f0;
  margin-left: 2%;
  margin-right: 2%;
  scroll-behavior: smooth;
  transition: transform 0.3s ease-in-out;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  margin-left: 2%;
  font-size: xx-large;
  margin-right: 2%;
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

.project-item a {
  margin-left: 2.5%;
  margin-right: 20px;
  max-width: 40%;
  height: auto;
}

.project-item a video {
  max-width: 100%;
  height: auto;
}

.project-item a video:hover {
  filter: brightness(0.5);
}

.project-item a i {
  position: absolute;
  font-size: 48px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-item a i:hover {
  opacity: 1;
}

.project-description {
  flex: 1;
  margin-right: 2.5%;
}

.project-description h2 {
  font-family: 'Courier New', monospace;
  font-size: 30px;
  font-weight: 250;
  margin-bottom: 20px;
}

.project-description p {
  font-size: 20px;
  font-family: 'Courier New', monospace;
  font-weight: 100;
}

#skills {
  padding: 50px;
  font-family: 'Courier New', monospace;
  background-color: #000;
  text-align: center;
}

#skills h2 {
  padding-bottom: 100px;
  /* padding-top: 5%; */
  color: #0f0;
  font-size: 40px;
  font-family: 'Courier New', monospace;
  font-weight: 300;
}

.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.skill-card {
  width: 40%;
  /* Adjust the width as needed */
  /* position: relative; */
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 0.5s;
  background-color: #1a1a1a;
  border-radius: 12px;
}

.skill-card img {
  width: 20%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 12%;
}

.skill-card div {
  color: #0f0;
  font-size: 100px;
  margin-top: 10%;
  margin-bottom: 0px;
}

.skill-card:hover {
  transition-duration: 0.2s;
  box-shadow: 0 0 1rem #0f0;

}

.skill-title {
  color: #0f0;
  font-size: 40px;
  font-weight: 200;
}

.skill-description {
  color: green;
  font-size: 25px;
  font-weight: 100;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.skill-card.show {
  opacity: 1;
  transform: translateY(0);
}

#contact {
  text-align: center;
  font-family: 'Courier New', monospace;
  background-color: #333;
  padding: 5%;
}

#contact h2 {
  color: #0f0;
  font-size: 40px;
  font-weight: 300;
}

#contact p {
  color: #0f0;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 2%;
}

#contact button {
  background-color: #000;
  color: #0f0;
  font-family: 'Courier New', monospace;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  position: relative;
}

#contact button:hover {
  background-color: green;
  color: #fff;
  transition-duration: 0.2s;
  box-shadow: 1rem 1rem 0 black;
  transform: translateY(-10px);
  transform: translateX(-10px);
}

#contact button:active {
  box-shadow: 0.5rem 0.5rem 0 black;
  transform: translateY(-5px);
  transform: translateX(-5px);
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}